*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    background-color: rgba(255,255,255,255);
    height: 60px;
    display: flex;
    align-items: center;
}

.content-header{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header img{
    width: 75%;
}

.content-header img:last-child{
    width: 35%;
}

.logo{
    display: none;
}

header .input-group-text{
    background-color: rgba(229,229,229,255);
}

header .form-control{
    background-color: rgba(229,229,229,255);
}

header .form-control::placeholder{
    color: rgba(123,123,123,260);
    opacity: 1;
    font-size: 0.8rem;
}

.content-header i{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button{
    border: none;
}

/* MAIN */

main{
    height: calc(100vh - 60px);
    display: flex;
}

.general-content{
    display: flex;
    height: 100%;
}

/* side-bar */

.side-bar{
    width: 150px;
    background-color: rgba(5,30,52,255);
    background-image: url(../img/sidebar-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-side-bar{
    width: 100%;
}

.bottom-side-bar{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu i{
    margin-right: 15px;
}

.menu h2{
    font-size: 1rem;
    color: white;
    margin-bottom: 25px;
}

.menu-loghi i{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.menu-loghi{
    display: none;
}

.bottom-side-bar h2{
    font-size: 1rem;
    color: white;
}

.bottom-side-bar i{
    margin-right: 15px;
}

.menu h2:hover{
    background-color: rgb(122, 122, 122);
    padding: 10px 10px;
}

.bottom-side-bar h2:hover{
    background-color: rgb(122, 122, 122);
    padding: 10px 10px;
}

/* main-content */

.main-content{
    width: calc(100vw - 150px);
    overflow: auto;
}

/* top-content */

.top-content{
    height: 120px;
    background-color: rgba(27,114,232,255);
}

.top-content-content{
    margin-top: 20px;
}

.top-content-content .text{
    font-size: 1.7rem;
}

.top-content-content .text-2{
    font-size: 1.7rem;
}

.top-content-content .arrow{
    padding-right: 5px;
}

.badge{
    margin-right: 5px;
    background-color: rgba(22,91,186,255);
    border-radius: 15px;
}

.badge-on{
    display: none;
}

.off-button{
    margin-left: 20px;
    border: 1px solid white;
}

#offcanvasRight{
    width: 50%;
}

.scegli button{
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-button button:first-child{
    background-color: rgba(13,110,253,255);
    color: white;
}

.s-button button:last-child{
    background-color: rgba(255,193,7,255);
}

/* bottom.content */

.bottom-content{
    height: calc(100vh - 180px);
}

.card .card-header{
    font-size: 1.4rem;
}

.card tr{
    font-size: 0.8rem;
}

.card tr th{
    color: rgb(100, 100, 100);
}

.card tr td{
    color: rgb(100, 100, 100);
}

.done{
    background-color: rgba(25,135,84,255);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.process{
    background-color: rgba(255,193,7,255);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.failed{
    background-color: rgba(220,53,69,255);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.pencil{
    margin-right: 5px;
    border: 1px solid rgba(108,117,125,255);
    padding: 5px;
    border-radius: 5px;
}

.trash{
    border: 1px solid rgba(108,117,125,255);
    padding: 5px;
    border-radius: 5px;
}

.accordion-item h2 button{
    font-size: 0.8rem;
}

.accordion-item{
    border: none;
    border-bottom: 1px solid rgb(216, 216, 216);
}

/* MEDIA-QUERY */

@media screen and (max-width: 768px){
    .side-bar{
        width: 80px;
    }

    .main-content{
        width: calc(100% - 80px);
    }

    .logo-text{
        display: none;
    }

    .content-header img:last-child{
        width: 60%;
    }

    .logo{
        display: block;
    }

    .content-header i{
        display: none;
    }

    .content-header i:last-child{
        display: block;
        display: flex;
        justify-content: center;
    }

    .top-content{
        height: 250px;
    }

    .bottom-content{
        height: calc(100vh - 310px);
    }
}

@media screen and (max-width: 992px){
    .side-bar{
        width: 80px;
    }

    .main-content{
        width: calc(100vw - 80px);
    }

    .logo-text{
        display: none;
    }

    .content-header img:last-child{
        width: 60%;
    }

    .logo{
        display: block;
    }

    .content-header i{
        display: none;
    }

    .content-header i:last-child{
        display: block;
        display: flex;
        justify-content: center;
    }

    .menu h2{
        display: none;
    }

    .bottom-side-bar h2{
        display: none;
    }

    .menu-loghi{
        display: block;
    }

    .badge-off{
        display: none;
    }

    #offcanvasRight{
        width: 100%;
    }

}