*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    background-color: rgba(255,255,255,255);
    height: 60px;
    display: flex;
    align-items: center;
}

.content-header{
    height: 35px;
    display: flex;
    align-items: center;
}

.content-header img{
    width: 75%;
}

.content-header img:last-child{
    width: 35%;
}

.logo{
    display: none;
}

.input-group-text{
    background-color: rgba(229,229,229,255);
}

.form-control{
    background-color: rgba(229,229,229,255);
}

.form-control::placeholder {
    color: rgba(123,123,123,260);
    opacity: 1;
    font-size: 0.8rem;
  }

  .content-header i{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

/* MAIN */

main{
    height: calc(100vh - 60px);
    background-color: rgb(15, 255, 15);
    display: flex;
}

.general-content{
    display: flex;
    background-color: rgb(235, 235, 10);
    height: 100%;
}

/* side-bar */

.side-bar{
    width: 150px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-side-bar{
    height: 300px;
    width: 100%;
    background-color: aqua;
}

.bottom-side-bar{
    height: 75px;
    width: 100%;
    background-color: aqua;
}

/* main-content */

.main-content{
    width: calc(100vw - 150px);
    background-color: red;
}

/* top-content */

.top-content{
    height: 120px;
    background-color: lightblue;
}

/* bottom.content */

.bottom-content{
    height: calc(100vh - 180px);
    background-color: burlywood;
}

/* MEDIA-QUERY */

@media screen and (max-width: 767px){
    .side-bar{
        width: 80px;
    }

    .main-content{
        width: calc(100vw - 80px);
    }

    .logo-text{
        display: none;
    }

    .content-header img:last-child{
        width: 60%;
    }

    .logo{
        display: block;
    }

    .content-header i{
        display: none;
    }

    .content-header i:last-child{
        display: block;
        display: flex;
        justify-content: center;
    }
}